#searchbar {
  position: relative;
  width: 100%;
  height: 100%;
}

.coaster-results {
  position: absolute;
  background-color: #fff;

  max-height: 500px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0;
  width: 100%;
  z-index: 1;
}

.coaster-result-item {
  padding: 1px;
  cursor: pointer;
}

.coaster-result-item:hover {
  background-color: #000000;
}

.coaster-result-info {
  display: flex;
  flex-direction: column;
}

.coaster-result-info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;

}

.coaster-result-info p {
  margin: 0;
  font-size: 14px;
  color: #888;
}

