body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.header {
  text-align: center;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header button {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;

  
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  text-align: center;
  flex: 1;
}

#search {
  height: 100%;
  width: 400px;
  left: 0;
  overflow: hidden;
  padding-top: 20px;
  border: 1px solid #ccc;
}

#coasters {
  height: 100%;
  text-align: center;
  float: right;
  flex: 1 0 auto;
  padding-top: 20px;
}

#labels {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}
#label1 {
  flex: 2.3;
}
#label2 {
  flex: 2.9;
}

#label3 {
  flex: 4;
}
#label4 {
  display: flex;
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

